@import '~node_modules/modern-normalize/modern-normalize.css';
.search-form {
  background-color: skyblue;
  padding: 10px;
  font-size: 2rem;
  font-family: monospace;
  text-align: center;
}
.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: 240px;
  grid-gap: 60px;
  justify-content: center;
  padding: 10px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  padding: 5px;
  margin: auto;
}

img {
  height: 100%;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  text-align: center;
}
.load-more {
  display: none;
  margin: 0 auto;
}
.load-more.visible {
  display: block;
}
